/* .containerLAPI {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.form-password-recovery label {
    display: block;
    margin: 15px 0 5px;
}

.form-password-recovery input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#btnPasswordRecovery,
#btnHome {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#btnPasswordRecovery:hover,
#btnHome:hover {
    background-color: #0056b3;
}

.mensaje {
    margin-top: 10px;
    color: red;
    font-weight: bold;
}

 */